/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(17, 17, 75);
}


main{
    height: 60vh;
    width: 70vw;
    background-color: aliceblue;
    display: flex;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main article.video-player{
    width: 70%;
    height: 100%;
    background-image: url('https://media.istockphoto.com/photos/passenger-airplane-flying-above-clouds-during-sunset-picture-id155439315?k=20&m=155439315&s=612x612&w=0&h=BvXCpRLaP5h1NnvyYI_2iRtSM0Xsz2jQhAmZ7nA7abA=');
    background-size: cover;
}

main aside.video-suggestions{
    width: 30%;
    background-color: burlywood;
}

aside.video-suggestions article{
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100% / 5);
    background-color: white;
    padding: .5rem;
    border: 3px lime solid;

    transition: all 3s ease-in-out;
}

aside.video-suggestions article:hover{
    background-color: blue;
    color: red;
    border: 5px dotted magenta;
    font-size: 3rem;
}

div.shuttle{
    position:absolute;
    z-index: 3;
    width: 300px;
    height: 425px;
    background-image: url('../img/shuttle.png');
    background-size: cover;
    background-repeat: no-repeat;

    transform: rotate(90deg);

    animation-name: roam;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes roam {
    0% {
        /* background-color: red; */
        left: 0px;
        top: 0px;
    }

    25% {
        /* background-color: yellow; */
        left: 80vw;
        top: 0px;
        transform: rotate(180deg);
    }
    50% {
        /* background-color: blue; */
        left: 80vw;
        top: 65vh;
        transform: rotate(270deg);
    }
    75% {
        /* background-color: green; */
        left: 0px;
        top: 65vh;
        transform: rotate(360deg);
    }
    100% {
        /* background-color: red; */
        left: 0px;
        top: 0px;
        transform: rotate(450deg);
    }
}

