
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

div.message{
    background-color: blue;
    padding: 2rem;
}

div.message-received{
    background-color: gray;
}

div.message-sent{
    background-color: lime;
}