html-paper-scientifico/index.html
html-london-trip/index.html
html-london-trip/img/pexels-bill-emrich-230794-0.jpg
html-london-trip/img/pexels-bill-emrich-230794-1.jpg
html-london-trip/img/pexels-bill-emrich-230794-2.jpg
html-css-2/index.html
html-css-2/css/style.css
html-css-adv-sel/index.html
html-css-adv-sel/css/style.css
html-css-gmail/index.html
html-css-gmail/css/style.css
html-the-booleaner/index.html
html-the-booleaner/css/style.css
html-the-booleaner/imgs/graph.jpg
html-the-booleaner/imgs/logo.svg
html-the-booleaner/imgs/monitor.jpg
html-the-booleaner/imgs/pattern.png
html-the-booleaner/imgs/tim-1.jpg
html-the-booleaner/imgs/tim-2.jpg
html-toboolist/index.html
html-toboolist/css/style.css
html-toboolist/img/logo.png
js-our-team/index.html
js-our-team/img/angela-caroll-chief-editor.jpg
js-our-team/img/angela-lopez-social-media-manager.jpg
js-our-team/img/barbara-ramos-graphic-designer.jpg
js-our-team/img/scott-estrada-developer.jpg
js-our-team/img/walter-gordon-office-manager.jpg
js-our-team/img/wayne-barnett-founder-ceo.jpg
js-our-team/js/script.js
js-our-team/styles/style.css
vue-boolzapp/index.html
vue-boolzapp/img/avatar_1.jpg
vue-boolzapp/img/avatar_2.jpg
vue-boolzapp/img/avatar_3.jpg
vue-boolzapp/img/avatar_4.jpg
vue-boolzapp/img/avatar_5.jpg
vue-boolzapp/img/avatar_6.jpg
vue-boolzapp/img/avatar_7.jpg
vue-boolzapp/img/avatar_8.jpg
vue-boolzapp/img/avatar_io.jpg
vue-boolzapp/img/mine.jpg
vue-boolzapp/js/script.js
vue-boolzapp/styles/style.css
