/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: #0f0e17;
    font-family: Fredoka, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:white;
}


article img{
    height: 10em;
}

article.col{
    padding: 1em;
    text-align: center;
    width: calc(100% / 3);
}

.container{
    width: 62.5%;
    min-width: 680px;
    max-width: 1145px;
    margin: 0 auto;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
    margin-left: 1em;
}

.title{
    color: #e53170;
    padding-top: 2em;
}

.subtitle{
    padding: .25em;
    color: #ff8906;
}