
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.font-red{
    color: magenta;
}

.font-blue{
    color: cyan;
}


div#dispari{
    background-color: magenta;
}

div#pari{
    background-color: lime;
}

p{
    font-size: 2rem;
    border: 5px cyan solid;

}
