header{
    background-color: #ededed;
    text-align: center;
}

h1{
    /* color:violet; */
    font-size: 2.5rem;
}

h2{
    color: goldenrod;
}

h3{
    font-style: italic;
}

.border-bottom-grod{
    border-bottom: 2px solid goldenrod;
}