/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Fredoka, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

main.container{
    width: 70%;
    min-width: 680px;
    max-width: 1145px;
    margin: 0 auto;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.title{
    color: #e53170;
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

h1 ~ p{
    text-align: center;
    margin-top: 2.5rem;
}

div.col{
    width: calc( (100% / 3) - 3rem);
    margin: 3rem 1.5rem 0rem;

    background-color: #0f0e17;
    color: white;
    box-shadow: 1rem 1rem #e53170;
}

div.col>img{
    height: 6rem;
    margin-right: .75rem;

}

div.card-content{
    padding:.75rem;
}

div.card-content h2{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

div.card-content p{
    margin-bottom: .25rem;
}

section#new-section-guinea-pig {
    margin-top: 5rem;
    text-align: center;
}

section#new-section-guinea-pig img{
    width: 60%;
    border: 5rem #e53170 solid;
    margin-bottom: 5rem;
}